<html>
  <head>
    <title>FOODFLIX</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
    <center>
        <form action="/food/edit_poster" method="post" enctype="multipart/form-data">
          <input type="hidden" name="idfood" value="<%=data.idfood %>">
          <h1><%=data.foodname%></h1><br><br>
          <img src="/images/<%=data.picture %>" width="350"/><br><br>
          <b>Upload New Poster</b><br><br>
          <input type="file" required name="picture">
          <input type="submit" value="Upload Image">
        </form>
    </center>
</html>