<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    width : 100vw;
    height: 100vh;
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.box{
  padding: 15px;
  width: 25%;
  height: auto;
  background-color:black;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
h1{
  text-align: center;
  padding: 20px 0;
  color: #fff;
  border-bottom: 1px solid silver;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  border: none;
  padding-left: 0;
  padding-right: 0;
}
img{
  height: 22px;
}
.sb{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
cursor: pointer;
color: white;
margin-top: 32px;
width: 50%;
padding: 12px;
outline: none;
background: #0c0116;
border: darkcyan;
font-size: 16px;
border-radius: 16px;
transition: 0.4s;
}
.start{
  margin-top: 7%;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Naan House</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
      <div class="box">
        <h1>Login</h1>
        
        <form class="form" method="post" action="/admin/chk_admin_login">
          <div class="start">
            <div class="sb">
              <span><img  src="/images/username.png" ></span>
              <input type="text" name="emailid" required >
            </div> 
            <div class="sb">
              <span><img  src="/images/pass.png" width="27.797"></span>
              <input type="text" name="password" required autocomplete="off">
            </div> 
            <center><input type="submit" class="btn" value="Submit" ></center>
            <div style="font-size: smaller; color: aquamarine; padding:5px; align-self:center;"><%=message%></div>
        </div>
          </div>
        </form>
      </div>
  </div>
  
</body>
</html>